// {{ ansible_managed }}
{% from "./macros.j2" import quote_str, insert_var %}

{% for name,attrs in icinga2_check_commands.iteritems() %}
object CheckCommand {{ quote_str(name) }} {
	{#- You need to quote the string yourself, but otherwise
	you wouldn't be able to use constants #}

	command = [ {{ attrs.command }} ]

	arguments += {
	{% for k,v in (attrs.args | default({})).iteritems() -%}
		{{ quote_str(k) }} = {
			{% if v.value is defined -%}
				value = {{ quote_str(v.value) }}
			{% endif -%}

			{% if v.setIf is defined -%}
				set_if = {{ quote_str(v.setIf) }}
			{% endif -%}

			{% if v.order is defined -%}
				order = {{ v.order }}
			{% endif -%}

			description = {{ quote_str(v.description) }}
			required = {{ v.required | default(false) | lower }}
			skip_key = {{ v.skipKey | default(false) | lower }}
			repeat_key = {{ v.repeatKey | default(true) | lower }}
		}
	{% endfor %}
	}

	env = {
		{% for k,v in (attrs.env | default({})).iteritems() -%}
			{{ k }} = {{ insert_var(v) }}
		{% endfor -%}
	}

	timeout = {{ attrs.timeout | default('1m') }}

	vars += {
		{% for k,v in (attrs.vars | default({})).iteritems() -%}
			{{ k }} = {{ insert_var(v) }}
		{% endfor -%}
	}
}

{% endfor %}
