// {{ ansible_managed }}
{% from "./macros.j2" import quote_str %}

object ApiListener "api" {
	{% if icinga2_feature_api_salt is defined %}ticket_salt = TicketSalt{% endif %}

	bind_host = {{ quote_str(icinga2_feature_api_bind) }}
	bind_port = {{ icinga2_feature_api_port }}
	accept_config = {{ icinga2_feature_api_accept_config | lower }}
	accept_commands = {{ icinga2_feature_api_accept_commands | lower }}
	tls_protocolmin = {{ quote_str(icinga2_feature_api_tlsmin) }}
}
