// {{ ansible_managed }}
{% from "./macros.j2" import quote_str %}

{% for name,attrs in api_users.items() %}
object ApiUser {{ quote_str(name) }} {
	{% if attrs.password is defined -%}
		password = {{ quote_str(attrs.password) }}
	{% endif -%}

	{% if attrs.passwordHash is defined -%}
		password_hash = {{ quote_str(attrs.password_hash) }}
	{% endif -%}

	{% if attrs.clientCn is defined -%}
		client_cn = {{ quote_str(attrs.client_cn) }}
	{% endif -%}

	{% if attrs.permissions is defined -%}
		permissions = [ "{{ attrs.permissions | join('", "') }}" ]
	{%- endif %}

}

{% endfor %}
