// {{ ansible_managed }}
{% from "./macros.j2" import quote_str %}

{% for name,downtime in icinga2_host_downtimes.iteritems() %}
apply ScheduledDowntime {{ quote_str(name) }} to Host {
	author = {{ quote_str(downtime.author) }}
	comment = {{ quote_str(downtime.description) }}
	{% if downtime.duration is defined -%}
	fixed = false
	duration = {{ downtime.duration }}
	{% endif %}

	ranges = {
		{% for day,duration in downtime.ranges.iteritems() -%}
			{{ quote_str(day) }} = {{ quote_str(duration) }}
		{% endfor -%}
	}

	{% for assign in downtime.assign -%}
		assign where {{ assign }}
	{% endfor -%}

	{% for ignore in downtime.ignore | default([]) -%}
		ignore where {{ ignore }}
	{% endfor %}

}

{% endfor %}

{% for name,downtime in icinga2_service_downtimes.iteritems() %}
apply ScheduledDowntime {{ quote_str(name) }} to Service {
	author = {{ quote_str(downtime.author) }}
	comment = {{ quote_str(downtime.comment) }}
	{% if downtime.duration is defined -%}
	fixed = false
	duration = {{ downtime.duration }}
	{% endif %}

	ranges = {
		{% for day,duration in downtime.ranges.iteritems() -%}
			{{ quote_str(day) }} = {{ quote_str(duration) }}
		{% endfor -%}
	}

	{% for assign in downtime.assign -%}
		assign where {{ assign }}
	{% endfor -%}

	{% for ignore in downtime.ignore | default([]) -%}
		ignore where {{ ignore }}
	{% endfor %}

}

{% endfor %}
