// {{ ansible_managed }}
{% from "./macros.j2" import quote_str, insert_var %}

{% for name,notification in icinga2_host_notifications.items() %}
apply Notification {{ quote_str(name) }} to Host {
	command = {{ quote_str(notification.command) }}
	{% if notification.interval is defined -%}
	interval = {{ notification.interval }}
	{% endif -%}
	{% if notification.users is defined -%}
	users = [ "{{ notification.users | join('", "') }}" ]
	{% endif -%}
	{% if notification.user_groups is defined -%}
	user_groups = [ "{{ notification.user_groups | join('", "') }}" ]
	{% endif -%}
	{% if notification.zone is defined -%}
	zone = {{ quote_str(notification.zone) }}
	{% endif -%}
	{% if notification.types is defined -%}
	types = [ {{ notification.types | join(', ') }} ]
	{% endif -%}
	{% if notification.states is defined -%}
	states = [ {{ notification.states | join(', ') }} ]
	{% endif -%}
	{% if notification.period is defined -%}
	period = {{ quote_str(notification.period) }}
	{% endif -%}

	vars = {
		{% for k,v in (notification.vars | default({})).items() -%}
			{{ k }}  = {{ insert_var(v) }}
		{% endfor -%}
	}

	{% for assign in notification.assign -%}
		assign where {{ assign }}
	{% endfor -%}

	{% for ignore in notification.ignore | default([]) -%}
		ignore where {{ ignore }}
	{% endfor -%}
}

{% endfor %}

{% for name,notification in icinga2_service_notifications.items() %}
apply Notification {{ quote_str(name) }} to Service {
	command = {{ quote_str(notification.command) }}
	{% if notification.interval is defined -%}
	interval = {{ notification.interval }}
	{% endif -%}
	{% if notification.users is defined -%}
	users = [ "{{ notification.users | join('", "') }}" ]
	{% endif -%}
	{% if notification.user_groups is defined -%}
	user_groups = [ "{{ notification.user_groups | join('", "') }}" ]
	{% endif -%}
	{% if notification.zone is defined -%}
	zone = {{ quote_str(notification.zone) }}
	{% endif -%}
	{% if notification.types is defined -%}
	types = [ {{ notification.types | join(', ') }} ]
	{% endif -%}
	{% if notification.states is defined -%}
	states = [ {{ notification.states | join(', ') }} ]
	{% endif -%}
	{% if notification.period is defined -%}
	period = {{ quote_str(notification.period) }}
	{% endif -%}

	vars = {
		{% for k,v in (notification.vars | default({})).items() -%}
			{{ k }}  = {{ insert_var(v) }}
		{% endfor -%}
	}

	{% for assign in notification.assign -%}
		assign where {{ assign }}
	{% endfor -%}

	{% for ignore in notification.ignore | default([]) -%}
		ignore where {{ ignore }}
	{% endfor -%}
}

{% endfor %}
