// {{ ansible_managed }}
{% from "./macros.j2" import quote_str %}

{% for name,config in icinga2_timeperiods.iteritems() %}
object TimePeriod {{ quote_str(name) }} {
{% if config.description is defined %}	display_name = {{ quote_str(config.description) }}{% endif %}

	ranges = {
		{% for day,duration in config.ranges.iteritems() -%}
		{{ quote_str(day) }} = {{ quote_str(duration) }}
		{% endfor -%}
	}

	prefer_includes = {{ config.prefer_includes | default(true) | bool | lower }}

	{% if config.excludes is defined -%}
		excludes = [ "{{ config.excludes | join('", "') }}" ]
	{% endif -%}

	{% if config.includes is defined -%}
		includes = [ "{{ config.includes | join('", "') }}" ]
	{% endif %}

}

{% endfor %}
