// {{ ansible_managed }}
{% from "./macros.j2" import quote_str, insert_var %}

{% for name,attrs in icinga2_users.items() %}
object User {{ quote_str(name) }} {
	{% if attrs.name is defined -%}
		display_name = {{ quote_str(attrs.name) }}
	{% endif -%}

	{% if attrs.groups is defined -%}
		groups = [ "{{ attrs.groups | join('", "') }}" ]
	{% endif -%}

	{% if attrs.email is defined -%}
		email = {{ quote_str(attrs.email) }}
	{% endif -%}

	{% if attrs.pager is defined -%}
		pager = {{ quote_str(attrs.pager) }}
	{% endif -%}

	{% if attrs.notifications is defined -%}
		enable_notifications = {{ attrs.notifications | lower }}
	{% endif -%}

	{% if attrs.period is defined -%}
		period = {{ quote_str(attrs.period) }}
	{% endif -%}

	{% if attrs.types | default(icinga2_user_default_types | default([])) | length > 0 -%}
		types = [ {{ attrs.types | default(icinga2_user_default_types)| join(', ') }} ]
	{% endif -%}

	{% if attrs.states is defined -%}
		states = [ {{ attrs.states | join(', ') }} ]
	{% endif -%}

	{% for k,v in (attrs.vars | default({})).items() -%}
		vars.{{ k }} = {{ insert_var(v) }}
	{% endfor %}

}

{% endfor %}

{% for name in icinga2_users.values() | selectattr('groups', 'defined') | map(attribute='groups') | sum(start=[]) | unique %}
object UserGroup {{ quote_str(name) }} {
{% if name in icinga2_user_groups %}	display_name = {{ quote_str(icinga2_user_groups[name]) }}{% endif %}

}

{% endfor %}

