// {{ ansible_managed }}
{% from "./macros.j2" import quote_str, insert_var %}

const NodeName = "{{ inventory_hostname }}"
{% if icinga2_feature_api_salt is defined %}
const TicketSalt = {{ quote_str(icinga2_feature_api_salt) }}
{% endif %}

{% for name,value in icinga2_constants.iteritems() %}
const {{ name }} = {{ insert_var(value) }}
{% endfor %}
